{% extends 'shop/basic.html' %}
{% block title %} About Us - TechnicalMashup {% endblock %}
{% block body %}
<main role="main">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">TechnicalMashup Cart !</h1>
            <p>TechnicalMashup Cart Private Limited, is an Indian e-commerce company based in Odisha, India. It was founded by Bibhas Sahu in 2017. The company initially focused on Technology related things, before expanding into other shopping product categories such as consumer electronics, fashion, home essentials & groceries, lifestyle products etc.
                The service competes primarily with different local shopping mall or shopping site, and the domestic rival local shop. As of March 2020, Technical Mashup Cart held a 39.5% market share of India's e-commerce industry. Technical Mashup Cart is significantly dominant in the sale of apparel (a position that was bolstered by its acquisitions of Myntra and Jabong.com), and was described as being "neck and neck" with Amazon in the sale of electronics and mobile phones. Technical Mashup Cart also owns PhonePe, a mobile payments service based on the Unified Payments Interface (UPI).
            </p>
            <p><a class="btn btn-primary btn-lg" href="https://www.youtube.com/c/technicalmashup" role="button">Learn more &raquo;</a></p>
        </div>
    </div>
    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h2>Technical Mashup</h2>
                <p>This part is under construction. This part is under construction. This part is under construction. This part is under construction. This part is under construction. This part is under construction. This part is under construction. This part is under construction. </p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Technical Mashup</h2>
                <p>This part is under construction. This part is under construction. This part is under construction. This part is under construction. This part is under construction. This part is under construction. This part is under construction. This part is under construction. </p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Technical Mashup</h2>
                <p>This part is under construction. This part is under construction. This part is under construction. This part is under construction. This part is under construction. This part is under construction. This part is under construction. This part is under construction. </p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
        </div>
        <hr>
    </div> <!-- /container -->
</main>
{% endblock %}